@import '~antd/dist/antd.css';
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(16, 12, 42);
  min-height: 100vh;
}
.line-container {
  width: 50%;
  height: 400px;
}

